.app {
  padding: 16px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.movie-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 100%;
  max-width: 300px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.movie-details {
  padding: 8px 0;
}

.movie-details h2 {
  font-weight: bold;
  font-size: 18px;
}

.gauge {
  background-color: #ddd;
  border-radius: 4px;
  height: 8px;
  width: 100%;
  margin-top: 8px;
  position: relative;
}

.likes-bar {
  background-color: #4caf50;
  height: 100%;
  border-radius: 4px;
}

.category-select {
  margin-bottom: 16px;
}

@media (min-width: 1800px) {
  .movies-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1450px) and (max-width: 1799px) {
  .movies-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1449px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}
